# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Smithy.iml
# Datasource local storage ignored files
/../../../../../../:\Reposes\Smithy\.idea\.idea.Smithy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
